#version=RHEL10
lang en_US.UTF-8
keyboard us
timezone UTC --utc
reboot

# Use the installation media
cdrom

# Disk partitioning
ignoredisk --only-use=sda
zerombr
clearpart --all --initlabel

# Standard partitions
part /boot/efi --fstype="efi" --size=512 --asprimary
part swap --size=2048
part / --fstype="xfs" --grow --size=10240

# Bootloader installation
bootloader --location=mbr --boot-drive=sda

# Security and services
authselect --passalgo=sha512 --useshadow
selinux --enforcing
firewall --enabled --ssh

# Disable firstboot prompt
firstboot --disable
eula --agreed

# Root password (encrypted placeholder)
rootpw --iscrypted $6$NWBJEbapxj8vJvZX$jjo3R967WO963ITBv/da0xH8Ug4wvPUvE44QgPb9F4MwtnMlzOM2Kq2CIkL.4h28AWqRNLm5L6wv5FCXjaVu01

# Create a user with sudo privileges
user --name=packer --groups=wheel --password=$6$NWBJEbapxj8vJvZX$jjo3R967WO963ITBv/da0xH8Ug4wvPUvE44QgPb9F4MwtnMlzOM2Kq2CIkL.4h28AWqRNLm5L6wv5FCXjaVu01 --iscrypted --gecos="Packer User"

# Packages to install
%packages --ignoremissing --excludedocs
@^server-product-environment
vim
curl
wget
sudo
openssh-server
net-tools
cloud-init
%end

# Enable SSH after install
%post
systemctl enable sshd
%end
